.layout {
  /* background-image: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg"); */
  background-image: url("https://images.pexels.com/photos/3137052/pexels-photo-3137052.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;

  display: grid;
  place-items: center;
  position: relative;
}
