#root {
  /* max-width: 1280px; */
  /* text-align: center; */
}

.leftSide {
  /* height: auto; */
  width: 40%;
  display: flex;
  flex-direction: row;
  background-color: green;
}
.rightSide {
  /* height: auto; */
  width: 60%;
  background-color: red;
}

.mask {
  -webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
  mask-image: radial-gradient(circle, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0.5) 50%);
}

.profileImg__mask {
  width: 50%;
}
