.canvas {
  display: grid;
  place-items: center;
  width: 100vw;
  min-height: 100vh;

  background-image: url("../public/backgrounds/writing.jpg");
  background-position: center;
  background-size: cover;
}

.responsiveCanvas {
  width: 375px;
  min-height: 667px;

  display: grid;
  justify-items: center;

  background: rgba(250, 250, 250, 0.2);
  backdrop-filter: blur(10px);
}

@media (min-width: 376px) {
  .responsiveCanvas {
    width: 375px;
    height: 667px;
    border: 1px solid black;

    background: rgba(250, 250, 250, 0.15);
    backdrop-filter: blur(10px);
    /* overflow-y: auto;
    -ms-overflow-style: none; */
  }
  /* .responsiveCanvas::-webkit-scrollbar {
    display: none;
  } */
}
