.canvas {
  display: grid;
  place-items: center;
  width: 100vw;
  min-height: 100vh;

  background-image: url("../public/writing.jpg");
  background-position: center;
  background-size: cover;
}

.responsiveCanvas {
  min-height: 100vh;
  width: 100vw;

  background: rgba(250, 250, 250, 0.1);
  backdrop-filter: blur(10px);
}

@media (min-width: 380px) {
  .responsiveCanvas {
    width: 375px;
    height: 667px;
    border: 1px solid black;

    background: rgba(250, 250, 250, 0.1);
    backdrop-filter: blur(10px);
  }
}

/* @media screen and (min-width: 400px) {
  .canvas {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .responsiveCanvas {
    width: 375px;
    height: 667px;
    border: 1px solid black;
    margin: 0 auto;
  }
} */
